
<footer class="site-footer">

  <div class="footer-inner">

    <div class="footer-logo">
      <img src="../assets/images/logo.png" alt="logo">
    </div>

    <div class="footer-content">

    <div class="footer-nav">
      <h4>NAVIGASI</h4>
      <ul>
        <li><a href="index.html#services">Beranda</a></li>
        <li><a href="index.html#services">Kontak</a></li>
        <li><a href="#">Tentang</a></li>
        <li><a href="#">Article</a></li>
      </ul>
    </div>

    <div class="footer-contact">
     <h4>KONTAK</h4>
        <ul>
          <li><a href="tel:+628111477229"><img class="footer-icon" src="../assets/images/telephone.svg" alt="icon of telephone number"> +62 123 4560 9231</a></li>
          <li><img class="footer-icon" src="../assets/images/location.svg" alt="icon of location"> Cikupa Citra Raya, No. 7<br>Kapubaten Tangerang 15710</li>
          <li><a href="mailto:kaymatthew07@gmail.com"><img class="footer-icon" src="../assets/images/email.svg" alt="icon of email"> jm@mail.com</a></li>
          <li><img class="footer-icon" src="../assets/images/clock.svg" alt="icon of clock"> Senin - Jumat<br>08:30 - 17:30</li>
        </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p id="time">All Rights Reserved © <span id="year"></span> <span id="month"></span></p>
  </div>
</footer>
  

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
