
<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-column footer-about">
      <h4>Tentang Kami</h4>
      <p>
        JM Law Consult adalah firma hukum yang menyediakan layanan hukum
        dan mewakili klien dalam berbagai masalah komersial, kepatuhan pada
        regulasi (<em>compliance</em>), dan penyelesaian sengketa.
      </p>
      <a href="#" class="footer-link">Baca Selengkapnya</a>
    </div>

    <div class="footer-column">
      <h4>Link Menu</h4>
      <ul>
        <li><a href="index.html#services">Layanan Kami</a></li>
        <li><a href="index.html#services">Lingkup Praktik</a></li>
        <!-- <li><a href="#">Partner Kami</a></li> -->
        <!-- <li><a href="#">Associates</a></li> -->
      </ul>
    </div>

    <div class="footer-column">
      <h4>&nbsp;</h4>
      <ul>
        <li><a href="index.html">Beranda</a></li>
        <!-- <li><a href="#">Tentang Kami</a></li>
        <li><a href="#">Portofolio</a></li> -->
        <li><a href="contact.html">Kontak</a></li>
      </ul>
    </div>

    <div class="footer-column footer-contact">
      <h4>Kontak</h4>
      <address>
        Cikupa Citra Raya, No. 7<br />
        Kabupaten Tangerang 15710<br /><br />
        Email: <a href="mailto:admin@nndp.or.id">abcd@gmail.com</a><br />
        Phone: <a href="tel:+628111477229">08111477229</a>
      </address>
    </div>
  </div>

  <div class="footer-bottom">
    <p id="time">All Rights Reserved © <span id="year"></span> <span id="month"></span></p>
  </div>
</footer>
  

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
