<%- include('partials/header') %>

<section class="company-profile">

  <section class="features-section">

    <section class="services">
    <h2 class="section-title" style="text-shadow: 2px 2px 6px rgba(0, 0, 0, 1.5)">OUR SERVICES</h2>
    <div class="services-grid" data-aos="slide-up" data-aos-delay="200">

      <div class="service-card">
        <i class="icon">📜</i>
        <h3 class="service-title">Perijinan</h3>
        <div class="service-description">
          <ul>
            <li>Perijinan Usaha (OSS/NIB)</li>
            <li>NPWP, AKTA, CPAKB</li>
            <li>CDAKB, SIINAS, KITAS</li>
            <li>Perijinan TKA</li>
            <li>Izin Lingkungan</li>
            <li>AKD</li>
          </ul>
        </div>
      </div>

      <div class="service-card">

        <i class="icon">🧾</i>
        <h3 class="service-title">Non Litigasi</h3>
        <div class="service-description">
          <p>Kami menawarkan jasa hukum yang komprehensif bagi klien korporat maupun perorangan, yang mencakup masalah non-litigasi</p>
        </div>
      </div>
    </div>
    </section>



  <hr>
    <h2 class="section-title" style="text-shadow: 2px 2px 6px rgba(0, 0, 0, 1.5);">OUR ADVANTAGES</h2>
      <div class="advantages-grid" >
        <div class="advantage-item" data-aos="zoom-in" data-aos-delay="150">
          <h3>Penyelesaian Efektif</h3>
          <p>Menyelesaikan permasalahan secara efektif dan tepat</p>
        </div>
        <div class="advantage-item" data-aos="zoom-in" data-aos-delay="250">
          <h3>Amanah dan Profesional</h3>
          <p>Ditangani oleh lawyer – lawyer kami yang kompeten di bidangnya.</p>
        </div>
        <div class="advantage-item" data-aos="zoom-in" data-aos-delay="300">
          <h3>Berpengalaman</h3>
          <p>Kami sudah memiliki pengalaman dari berbagai macam kasus yang berbeda – beda</p>
        </div>
      </div>
    
  </section>
</section>

<!-- <section class="contact-info-section">
  <div class="container">
    <h2>OUR TEAM</h2>
    <hr class="title-underline">
    <div class="contact-info-grid">
      <div data-aos="flip-left" data-aos-delay="100">
        <img src="/images/Profile1.jpg" style="border-radius: 50%;" alt="Profile Picture" class="team-profile" />
        <h4>Joice Massie</h4>
        <p>Indonesia Raya</p>
      </div>
      <div data-aos="flip-left" data-aos-delay="200">
      <img src="/images/Profile1.jpg" style="border-radius: 50%;" alt="Profile Picture" class="team-profile" />
        <h4>Unknown</h4>
        <p>Indonesia Raya</p>
      </div>
      <div data-aos="flip-left" data-aos-delay="300">
        <img src="/images/Profile1.jpg" style="border-radius: 50%;" alt="Profile Picture" class="team-profile" />
        <h4>Unknown</h4>
        <p>Indonesia Raya</p>
      </div>
    </div>
  </div>
</section> -->

<%- include('partials/footer') %>
