
a {
  color: black;
  text-decoration: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(228, 179, 93, 0.65) transparent;
}



.profession-title {
  color: #b30000;
}

.icon {
  height: 1.7rem;
  font-size: 2.5rem;
  color: #b30000;
  /* margin-bottom: 1rem; */
}

.btn {
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #ddd;
  color: chocolate;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 3px #e4b35d;
}

.profile-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: whitesmoke;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profile-grid:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.company-description {
  flex: 2 1 500px;
  text-align: center;
  font-weight: 700;
}



/* 
   PERSONAL PROFILE SECTION
                           */

.profile-section {
  padding: 8rem 2rem;
  background: #fefefe;
  color:#1e1e1e;
}

.profile-left {
  flex: 1 1 300px;
  text-align: center;
}

.profile-img {
  width: 250px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 0.9rem;
  color: gray;
}

.profile-right {
  flex: 2 1 500px;
}

.profile-right h2 {
  color: #1b1f23;
  font-size: 1.8rem;
}

.title-underline {
  width: 50%;
  border: 2px dashed orange;
}


/* 
   CONTACT INFO
                 */

.contact-info-section {
  padding: 3rem 2rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3),
      rgba(206, 206, 206, 0.5)
    ),
    url('../images/lawyer4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
}

.contact-info {
  background-color: #ddd;
  padding: 10px;
}


